@model MobileStore.CommandLayer1.ViewModel.ProductDetailViewModel

@{
    ViewData["Title"] = "جزییات محصول";
}

<h1>
    @Model.Product_ProName
</h1>
<p>
    @Model.Product_Mablagh
</p>
<p>
    @Model.Product_Takhfif
</p>
<p>
    @Model.Product_TozihKotah
</p>
<p>
    @Model.Product_TozihKamel
</p>